<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>NuGet Search</string>
	<key>CFBundleIdentifier</key>
	<string>com.cinlogic.NuGetSearch.iOS</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>7.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Images/icon-57x57</string>
		<string>Images/icon-114x114</string>
		<string>Images/icon-120x120</string>
		<string>Images/icon-72x72</string>
		<string>Images/icon-144x144</string>
		<string>Images/icon-76x76</string>
		<string>Images/icon-152x152</string>
		<string>Images/icon-29x29</string>
		<string>Images/icon-58x58</string>
		<string>Images/icon-50x50</string>
		<string>Images/icon-100x100</string>
		<string>Images/icon-40x40</string>
		<string>Images/icon-80x80</string>
	</array>
</dict>
</plist>
